.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    min-height: 80vh;
}

.flex-container-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    border: 2px solid black;
    border-radius: 10000px;
    min-height: 400px;
}

.title {
    align-self: center;
    color: black;
}

.input-field {
    align-self: center;
    margin-top: 10px;
}
.submit-button {
    align-self: center;
    max-width: 100px;
}